/* Reset */
body, h1, h2, h3, h4, h5, h6, p, ul, li, a {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}

body {
    line-height: 1.6;
}

/* Container */
.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 2em;
}

/* Navigation */
nav {
    background-color: #2C3E50;  /* Dark blue for the navbar background */
    padding: 0.5em 0;
}

nav ul {
    display: flex;
    justify-content: space-around;  /* Evenly spaced items */
    list-style-type: none;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    text-decoration: none;
    color: #ECF0F1;  /* Off-white color for text */
    padding: 0.5em 1em;
    transition: color 0.3s, background-color 0.3s;
    border-radius: 5px;  /* Rounded corners for a modern look */
}

nav ul li a:hover {
    color: #2C3E50;  /* Dark blue text on hover */
    background-color: #ECF0F1;  /* Off-white background on hover */
}

/* Section Headings */
h1, h2 {
    color: #34495E;  /* Darker blue for headings */
}

/* Highlight email link */
#contact a {
    color: #3498DB;  /* Bright blue for links */
}

/* For small screens, stacked navigation */
@media screen and (max-width: 640px) {
    nav ul {
        flex-direction: column;
        text-align: center;
        border-bottom: none;
    }

    nav ul li {
        margin-bottom: 0.5em;
    }
}

